<a href="https://colab.research.google.com/github/techosystem/Data-Engr-Pipeline/blob/main/Data_Engr_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This work is a process of building data pieline task with ETL. 
In task 1, i extract the data using API and web scrapping.
In task two I performed transformation and load the data in the datawarehouse in task 3.

Importing the libraries

In [ ]:
import requests
import pandas as pd

from sqlalchemy import create_engine
import psycopg2
import io

import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

**Task 1 : Generating data with REST API**

This involves using the most frequently used HTTP methods, GET and POST.
POST was used to generate token for authentication while
GET was used to query the server and generate data.

In [ ]:
# to make an api request, we must establish a connection with the server to get authorization.

def get_jwt():
    headers = {
        'Host': 'rest.arbeitsagentur.de',
        'Connection': 'keep-alive',
        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
    }

    data = {
      'client_id': 'c003a37f-024f-462a-b36d-b001be4cd24a',
      'client_secret': '32a39620-32b3-4307-9aa1-511e3d7f48a8',
      'grant_type': 'client_credentials'
    }

# requests.POST method is used to make a http request for access key
    response = requests.post('https://rest.arbeitsagentur.de/oauth/gettoken_cc', headers=headers, data=data, verify=False)

    return response.json()

# define the query parameters
def search(jwt, what, where, page):
    params = (
        ('page', page),
        ('size', '100'),
        ('umkreis', '50'),
        ('was', what),
        ('wo', where),
    )

    headers = {
        'Host': 'rest.arbeitsagentur.de',
        'OAuthAccessToken': jwt,
        'Connection': 'keep-alive',
    }

# requests.GET is used to retrieve data
    response = requests.get('https://rest.arbeitsagentur.de/jobboerse/jobsuche-service/pc/v4/app/jobs',
                            headers=headers, params=params, verify=False)
    return response.json()

# Generate data engineer position starting from page 1
jwt = get_jwt()
result = search(jwt["access_token"], "Data Engineer", "Deutschland", 1)
result.keys() # displays the keys of the dictionary as a list

dict_keys(['stellenangebote', 'maxErgebnisse', 'page', 'size', 'woOutput', 'facetten'])



Convert the dictionary data to pandas dataframe

In [ ]:
print(len(result['stellenangebote'])) # prints length of data engineer job listings
print(len(result["facetten"]))        # prints the length of facetten
print((result['maxErgebnisse']))      # prints the total number of results
data_engr = pd.DataFrame(result['stellenangebote']) # convert to dataframe
facets = pd.DataFrame(result['facetten'])

Fetching all the results

> The following function iterates through the pages and print all the job listings

In [ ]:
def fetch_all_results():
  results_array = [] # empty list that holds the data
  fetch_more = True
  page = 1
  while fetch_more:
    result = search(jwt["access_token"], "Data Engineer", "Deutschland", page)
    
    try:
      results_array.extend(result['stellenangebote'])
    except:
      print("error parsing results")
    if len(results_array ) == result['maxErgebnisse']:
      fetch_more = False
    page += 1

  return results_array

all_results = fetch_all_results()
all_results = pd.DataFrame(all_results)
print(len(all_results))
all_results.head()

1441

**Writing the generated data to google drive**

In [ ]:
data_engr.to_json("/content/drive/MyDrive/data/data_engr.json", orient='records')
facets.to_json("/content/drive/MyDrive/data/facets.json", orient='records')
all_results.to_json("/content/drive/MyDrive/data/all_results.json", orient='records')

***Explanation:***

 

*   I used the REST API provided to extract job listing data. first, POST request was made to get authorization access key

*   Then, a GET request to query the server and generate data for further computations. 
*   Three sets of data were generated including data engineer job listings, all job listings and all job details 
*   We will make further analytics with data engineer job listings(the required data)

**DATA TRANSFORMATION**

* To improve productivity and optimize business processes, data needs to be cleaned.
* here, data normalization, removing unneccessary columns are carried out here

In [ ]:
# Read in the data from the drive
data = pd.read_json("/content/drive/MyDrive/data/data_engr.json") # read json data named data_engr.json
print(data.shape) # check the number of rows and columns contained in the data
data.head()   # displays the 5 rows of the data. you can specify the number of rows inside the bracket

(100, 11)

,beruf,titel,refnr,arbeitsort,arbeitgeber,aktuelleVeroeffentlichungsdatum,modifikationsTimestamp,eintrittsdatum,logoHashId,hashId,externeUrl
0,Data Engineer,Data Engineer (m/w/d),15474-35852-S,"{'ort': 'Oldenburg (Oldb)', 'region': 'Nieders...",STELLENWERT GmbH & Co. KG,2022-12-06,2022-12-06T12:13:00.925,2022-12-13,gqNNdlh9xZZTvm-IciFtaDFVFYqirlO2Jgq00FQ9lQQ=,OXR4uanq79pGXsRnIPAEeQSsetVswH3x7xMPCdXjppc=,None
1,Data Engineer,Data Engineer (m/w/d) Big Data,11858-4872373-STA-S,"{'plz': '80686', 'ort': 'M端nchen', 'region': '...",LexCom Informationssysteme GmbH,2022-12-06,2022-12-06T15:21:46.96,2022-12-06,None,HdgZ1QLCptkq7lie2B3GYya92Z2qaivuc6ohBAm1YBE=,https://www.stellenanzeigen.de/job/4872373/?ut...
2,Data Engineer,Data Engineer (m/w/d),16045-k56465.1941-S,"{'plz': '22145', 'ort': 'Braak bei Hamburg', '...",SIMunich GmbH,2022-11-24,2022-11-24T17:11:26.859,2022-11-25,None,dZHzPSksKFeBm3aLZoF7iiKJcG4YqFtx6U4LI7k-qS8=,None
3,Data Engineer,Data Engineer (m/w/d),10000-1192260804-S,"{'plz': '24116', 'ort': 'Kiel', 'strasse': 'Al...",Bartels-Langness Handelsgesell schaft mbH & Co...,2022-12-06,2022-12-06T18:01:13.496,2022-12-06,1c-YxVMEQPJkV4FHtgNZ0UW2_CMdRDNQtnhrrupWD6M=,egvYH6IG5f1GB1ko-IUWgo6ubvdNa8npjD5Jz8-XcMk=,None
4,Data Engineer,Data Science Support Engineer (w/d/m),13635-6b18a1e0_JB3407291-S,"{'plz': '94032', 'ort': 'Passau', 'region': 'B...",ONE LOGIC GmbH,2022-12-05,2022-12-05T17:31:27.134,2022-12-09,None,8QghzxXt7yx8dtoUuqQmXLDyrCf8mWETk5i4G4ZpwiQ=,https://www.jobexport.de/job/3407291.html?exp=...

From the data displayed above:

The dataset contains 100 records and 11 columns.
arbeitsort column contains dictionary data and needs to be normalized.
Hence, we can start the data transformation by normalizing the arbeitsort column

In [ ]:
# normalized the arbeitsort column and combine it with the parent dataframe
data = data.join(pd.json_normalize(data["arbeitsort"])) 

# rename the columns and drop the arbeitsort column
data = data.rename(columns = {'koordinaten.lat':'latitude', 'koordinaten.lon':'longitude' }).drop(["arbeitsort"], axis = 1)
print(data.shape)
data.head()

(100, 18)

,beruf,titel,refnr,arbeitgeber,aktuelleVeroeffentlichungsdatum,modifikationsTimestamp,eintrittsdatum,logoHashId,hashId,externeUrl,ort,region,land,latitude,longitude,plz,strasse,ortsteil
0,Data Engineer,Data Engineer (m/w/d),15474-35852-S,STELLENWERT GmbH & Co. KG,2022-12-06,2022-12-06T12:13:00.925,2022-12-13,gqNNdlh9xZZTvm-IciFtaDFVFYqirlO2Jgq00FQ9lQQ=,OXR4uanq79pGXsRnIPAEeQSsetVswH3x7xMPCdXjppc=,None,Oldenburg (Oldb),Niedersachsen,Deutschland,53.140992,8.214311,NaN,NaN,NaN
1,Data Engineer,Data Engineer (m/w/d) Big Data,11858-4872373-STA-S,LexCom Informationssysteme GmbH,2022-12-06,2022-12-06T15:21:46.96,2022-12-06,None,HdgZ1QLCptkq7lie2B3GYya92Z2qaivuc6ohBAm1YBE=,https://www.stellenanzeigen.de/job/4872373/?ut...,M端nchen,Bayern,Deutschland,48.132609,11.510644,80686,NaN,NaN
2,Data Engineer,Data Engineer (m/w/d),16045-k56465.1941-S,SIMunich GmbH,2022-11-24,2022-11-24T17:11:26.859,2022-11-25,None,dZHzPSksKFeBm3aLZoF7iiKJcG4YqFtx6U4LI7k-qS8=,None,Braak bei Hamburg,Schleswig-Holstein,Deutschland,53.614081,10.255431,22145,NaN,NaN
3,Data Engineer,Data Engineer (m/w/d),10000-1192260804-S,Bartels-Langness Handelsgesell schaft mbH & Co...,2022-12-06,2022-12-06T18:01:13.496,2022-12-06,1c-YxVMEQPJkV4FHtgNZ0UW2_CMdRDNQtnhrrupWD6M=,egvYH6IG5f1GB1ko-IUWgo6ubvdNa8npjD5Jz8-XcMk=,None,Kiel,Schleswig-Holstein,Deutschland,54.330489,10.112741,24116,Alte Weide 7-13,NaN
4,Data Engineer,Data Science Support Engineer (w/d/m),13635-6b18a1e0_JB3407291-S,ONE LOGIC GmbH,2022-12-05,2022-12-05T17:31:27.134,2022-12-09,None,8QghzxXt7yx8dtoUuqQmXLDyrCf8mWETk5i4G4ZpwiQ=,https://www.jobexport.de/job/3407291.html?exp=...,Passau,Bayern,Deutschland,48.567655,13.464913,94032,NaN,NaN

* our data is normalized with pandas method, json-normalize and join it with the parent dataframe.all_results
* koordinaten.lat and koordinaten.lon columns were renamed to latitude and longitude respectively
* we dropped the arbeitsort column

In [ ]:
# view information about the data including the data type
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   beruf                            100 non-null    object
 1   titel                            100 non-null    object
 2   refnr                            100 non-null    object
 3   arbeitgeber                      100 non-null    object
 4   aktuelleVeroeffentlichungsdatum  100 non-null    object
 5   modifikationsTimestamp           100 non-null    object
 6   eintrittsdatum                   100 non-null    object
 7   logoHashId                       16 non-null     object
 8   hashId                           100 non-null    object
 9   externeUrl                       73 non-null     object
 10  ort                              98 non-null     object
 11  region                           98 non-null     object
 12  land                             100 non-null    object
 13  latitude                         100 non-null    float64
 14  longitude                        100 non-null    float64
 15  plz                              93 non-null     object
 16  strasse                          11 non-null     object
 17  ortsteil                         3 non-null      object
dtypes: float64(2), object(16)
memory usage: 14.2+ KB

**Removing unnecessary columns**

In [ ]:
data.drop(['modifikationsTimestamp','logoHashId', 'hashId', 'externeUrl', 'strasse', 'ortsteil'], axis = 1, inplace=True)
data.shape

(100, 12)

**Loading to database**

* After performing the transformation on the data, I load data to the database named stepstone
* postgresql is used as the tool for data storage

In [ ]:
# Installing the postgresql database on google colab

!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres

ERROR:  role "root" already exists

'Connected: @postgres'

In [ ]:
!sudo -u postgres createuser --interactive

Enter name of role to add: emmanuel
Shall the new role be a superuser? (y/n) y

In [ ]:
!sudo -u postgres createdb etl_pipeline

In [ ]:
!sudo -u root psql etl_pipeline

psql (10.22 (Ubuntu 10.22-0ubuntu0.18.04.1))
Type "help" for help.

etl_pipeline=# ALTER USER user_name WITH PASSWORD 'root';
ERROR:  role "user_name" does not exist
etl_pipeline=# ALTER USER root WITH PASSWORD 'root';
ALTER ROLE
etl_pipeline=# \q

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/etl_pipeline')

In [ ]:
data.head(0).to_sql('data_engineer', engine, if_exists='replace',index=False) #drops old table and creates new empty table

In [ ]:
# Writing the file to database
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
data.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'data_engineer', null="") # null values become ''
conn.commit()

In [ ]:
!psql -d etl_pipeline

psql (10.22 (Ubuntu 10.22-0ubuntu0.18.04.1))
Type "help" for help.

etl_pipeline=# \d+ data_engineer
                                                Table "public.data_engineer"
             Column              |       Type       | Collation | Nullable | Default | Storage  | Stats target | Description
---------------------------------+------------------+-----------+----------+---------+----------+--------------+-------------
 beruf                           | text             |           |          |         | extended |              |
 titel                           | text             |           |          |         | extended |              |
 refnr                           | text             |           |          |         | extended |              |
 arbeitgeber                     | text             |           |          |         | extended |              |
 aktuelleVeroeffentlichungsdatum | text             |           |          |         | extended |              |
 eintrittsdatum                  | text             |           |          |         | extended |              |
 ort                             | text             |           |          |         | extended |              |
 region                          | text             |           |          |         | extended |              |
 land                            | text             |           |          |         | extended |              |
 latitude                        | double precision |           |          |         | plain    |              |
 longitude                       | double precision |           |          |         | plain    |              |
 plz                             | text             |           |          |         | extended |              |

etl_pipeline=# SELECT * FROM daat_engineer;
ERROR:  relation "daat_engineer" does not exist
LINE 1: SELECT * FROM daat_engineer;
                      ^
etl_pipeline=# SELECT * FROM data_engineer LIMIT 7;
     beruf     |                 titel                 |           refnr            |                    arbeitgeber                     | aktuelleVeroeffentlichungsdatum | eintrittsdatum |        ort        |       region       |    land     |  latitude  | longitude  |  plz
---------------+---------------------------------------+----------------------------+----------------------------------------------------+---------------------------------+----------------+-------------------+--------------------+-------------+------------+------------+-------
 Data Engineer | Data Engineer (m/w/d)                 | 15474-35852-S              | STELLENWERT GmbH & Co. KG                          | 2022-12-06                      | 2022-12-13     | Oldenburg (Oldb)  | Niedersachsen      | Deutschland | 53.1409921 |  8.2143113 |
 Data Engineer | Data Engineer (m/w/d) Big Data        | 11858-4872373-STA-S        | LexCom Informationssysteme GmbH                    | 2022-12-06                      | 2022-12-06     | M端nchen           | Bayern             | Deutschland | 48.1326093 | 11.5106435 | 80686
 Data Engineer | Data Engineer (m/w/d)                 | 16045-k56465.1941-S        | SIMunich GmbH                                      | 2022-11-24                      | 2022-11-25     | Braak bei Hamburg | Schleswig-Holstein | Deutschland | 53.6140806 | 10.2554311 | 22145
 Data Engineer | Data Engineer (m/w/d)                 | 10000-1192260804-S         | Bartels-Langness Handelsgesell schaft mbH & Co. KG | 2022-12-06                      | 2022-12-06     | Kiel              | Schleswig-Holstein | Deutschland | 54.3304894 | 10.1127414 | 24116
 Data Engineer | Data Science Support Engineer (w/d/m) | 13635-6b18a1e0_JB3407291-S | ONE LOGIC GmbH                                     | 2022-12-05                      | 2022-12-09     | Passau            | Bayern             | Deutschland | 48.5676554 | 13.4649133 | 94032
 Data Engineer | Data Engineer (gn)                    | 11081-10140381-S           | Manpower GmbH & Co. KG                             | 2022-11-14                      | 2022-12-15     | Kelsterbach       | Hessen             | Deutschland | 50.0505127 |  8.5169842 | 65451
 Data Engineer | Data Engineer (m/w/d)                 | 11858-4872474-STA-S        | hvv Hamburger Verkehrsverbund GmbH                 | 2022-12-06                      | 2022-12-06     | Hamburg           | Hamburg            | Deutschland |   53.55067 |  9.9997397 | 20095
(7 rows)

_engineer;
SELECT 100
etl_pipeline=# SELECT * FROM data engineer mat view;
ERROR:  syntax error at or near "mat"
LINE 1: SELECT * FROM data engineer mat view;
                                    ^
etl_pipeline=# select * from data_engineer_mat_view;
ERROR:  relation "data_engineer_mat_view" does not exist
LINE 1: select * from data_engineer_mat_view;
                      ^
ata engineer;
SELECT 100
etl_pipeline=# SELECT * from data_engineer_mat_viw;
     beruf     |                            titel                            |           refnr            |                                   arbeitgeber                                   | aktuelleVeroeffentlichungsdatum | eintrittsdatum |          ort          |       region        |    land     |  latitude  | longitude  |  plz
---------------+-------------------------------------------------------------+----------------------------+---------------------------------------------------------------------------------+---------------------------------+----------------+-----------------------+---------------------+-------------+------------+------------+-------
 Data Engineer | Data Engineer (m/w/d)                                       | 15474-35852-S              | STELLENWERT GmbH & Co. KG                                                       | 2022-12-06                      | 2022-12-13     | Oldenburg (Oldb)      | Niedersachsen       | Deutschland | 53.1409921 |  8.2143113 |
 Data Engineer | Data Engineer (m/w/d) Big Data                              | 11858-4872373-STA-S        | LexCom Informationssysteme GmbH                                                 | 2022-12-06                      | 2022-12-06     | M端nchen               | Bayern              | Deutschland | 48.1326093 | 11.5106435 | 80686
 Data Engineer | Data Engineer (m/w/d)                                       | 16045-k56465.1941-S        | SIMunich GmbH                                                                   | 2022-11-24                      | 2022-11-25     | Braak bei Hamburg     | Schleswig-Holstein  | Deutschland | 53.6140806 | 10.2554311 | 22145
 Data Engineer | Data Engineer (m/w/d)                                       | 10000-1192260804-S         | Bartels-Langness Handelsgesell schaft mbH & Co. KG                              | 2022-12-06                      | 2022-12-06     | Kiel                  | Schleswig-Holstein  | Deutschland | 54.3304894 | 10.1127414 | 24116
 Data Engineer | Data Science Support Engineer (w/d/m)                       | 13635-6b18a1e0_JB3407291-S | ONE LOGIC GmbH                                                                  | 2022-12-05                      | 2022-12-09     | Passau                | Bayern              | Deutschland | 48.5676554 | 13.4649133 | 94032
 Data Engineer | Data Engineer (gn)                                          | 11081-10140381-S           | Manpower GmbH & Co. KG                                                          | 2022-11-14                      | 2022-12-15     | Kelsterbach           | Hessen              | Deutschland | 50.0505127 |  8.5169842 | 65451
 Data Engineer | Data Engineer (m/w/d)                                       | 11858-4872474-STA-S        | hvv Hamburger Verkehrsverbund GmbH                                              | 2022-12-06                      | 2022-12-06     | Hamburg               | Hamburg             | Deutschland |   53.55067 |  9.9997397 | 20095
 Data Engineer | Data Engineer (m/w/d)                                       | 10000-1188569036-S         | KNF Service GmbH                                                                | 2022-09-19                      | 2022-12-06     | Freiburg im Breisgau  | Baden-W端rttemberg   | Deutschland | 47.9654902 |  7.6995129 | 79112
 Data Engineer | Data Scientist / Data Engineer (m/w/d)                      | 10000-1191627849-S         | Stiftung DASU-Transferzentrum f端r Digitalisierung, Analytics & Data Science Ulm | 2022-10-21                      | 2022-10-21     | Ulm, Donau            | Baden-W端rttemberg   | Deutschland | 48.4020794 |  9.9896329 | 89073
 Data Engineer | Data Engineer (w/m/d)                                       | 12288-2751519238-S         | Michael Page                                                                    | 2022-12-05                      | 2022-12-06     | Berlin                | Berlin              | Deutschland | 52.5210905 | 13.4099785 | 10178
 Data Engineer | Data Engineer (m/w/d)                                       | 12117-14030464-YF-S        | eWolff GmbH                                                                     | 2022-12-05                      | 2022-12-05     | Bielefeld             | Nordrhein-Westfalen | Deutschland |  52.018878 |   8.532553 | 33602
 Data Engineer | Data Engineer (m/w/d) Cloud                                 | 15438-41084752-126-S       | SIGNAL IDUNA Krankenversicheru ng a. G.                                         | 2022-12-07                      | 2022-12-07     | Dortmund              | Nordrhein-Westfalen | Deutschland | 51.4988346 |  7.4619711 | 44139
 Data Engineer | Data Engineer (w/m/d)                                       | 10000-1190497316-S         | Raumschmiede GmbH                                                               | 2022-12-01                      | 2023-01-01     | Genderkingen          | Bayern              | Deutschland | 48.6998253 | 10.8826885 | 86682
 Data Engineer | BI Data Engineer (m/w/d)                                    | 12444-41047115-121-S       | Deutsche Telekom AG Konzernzentrale                                             | 2022-12-06                      | 2023-02-01     | Hannover              | Niedersachsen       | Deutschland | 52.3376644 |  9.7770478 | 30519
 Data Engineer | Junior Data Engineer (m/w/d)                                | 15139-40942612-1115-S      | Westenergie AG Zentrale                                                         | 2022-12-06                      | 2022-11-16     | Dortmund              | Nordrhein-Westfalen | Deutschland | 51.4988346 |  7.4619711 | 44139
 Data Engineer | Junior Data Engineer (m/w/d)                                | 12288-2757151839-S         | Amadeus FiRe AG                                                                 | 2022-12-07                      | 2022-12-08     | Gelsenkirchen         | Nordrhein-Westfalen | Deutschland | 51.5588495 |  7.0830493 | 45891
 Data Engineer | Data Engineer (m/w/d)                                       | 12288-2749498836-S         | ABALON Group                                                                    | 2022-12-02                      | 2022-12-03     | Anzing bei M端nchen    | Bayern              | Deutschland | 48.1553064 | 11.8562772 | 85646
 Data Engineer | DevOps/Data Engineer (w/m/d)                                | 11858-4743252-STA-S        | Deutsche Bahn AG                                                                | 2022-11-21                      | 2022-11-21     | Frankfurt am Main     | Hessen              | Deutschland | 50.1125066 |  8.6528256 | 60308
 Data Engineer | Datentechniker/in / Data Engineer                           | 10000-1191491407-S         | code council GmbH                                                               | 2022-10-12                      | 2022-11-22     | Darmstadt             | Hessen              | Deutschland | 49.8642178 |   8.650063 | 64285
 Data Engineer | Data Engineer (m/w/d)                                       | 13243-4815378-JB-S         | Transporeon GmbH                                                                | 2022-11-30                      | 2022-11-30     |                       |                     | Deutschland |          0 |          0 |
 Data Engineer | Data Engineer (m/w/d)                                       | 12288-2744153474-S         | H-TEC SYSTEMS GmbH                                                              | 2022-11-29                      | 2022-11-30     | Braak bei Hamburg     | Schleswig-Holstein  | Deutschland | 53.6140806 | 10.2554311 | 22145
 Data Engineer | Data Engineer (m/f/d)                                       | 12288-2752683453-S         | Venturi Germany GmbH                                                            | 2022-12-05                      | 2022-12-06     | D端sseldorf            | Nordrhein-Westfalen | Deutschland | 51.2234467 |  6.7731433 | 40213
 Data Engineer | Data Engineer (Azure) (m/w/d)                               | 12117-14961928-YF-S        | Mabanaft GmbH & Co. KG                                                          | 2022-12-05                      | 2022-12-05     | Hamburg               | Hamburg             | Deutschland | 53.5331829 |  9.9822974 | 20457
 Data Engineer | Data Engineer (m/w/d)                                       | 15438-40936826-1114-S      | SIGNAL IDUNA Krankenversicheru ng a. G.                                         | 2022-11-15                      | 2022-11-15     | Hamburg               | Hamburg             | Deutschland | 53.5581819 |  9.9914581 | 20354
 Data Engineer | Senior Big Data Engineer (w/m/d)                            | 11858-4631011-STA-S        | Deutsche Bahn AG                                                                | 2022-11-21                      | 2022-11-21     | Frankfurt am Main     | Hessen              | Deutschland | 50.1125066 |  8.6528256 | 60308
 Data Engineer | Data Engineer (m/w/d)                                       | 13635-57d0df5d_JB3372524-S | Encory GmbH                                                                     | 2022-11-23                      | 2022-11-27     | Unterschleiheim      | Bayern              | Deutschland |  48.275203 | 11.5640966 | 85716
 Data Engineer | Data Engineer (m/w/d)                                       | 13635-89ddb948_JB3371306-S | Senec GmbH                                                                      | 2022-11-22                      | 2022-11-26     | Leipzig               | Sachsen             | Deutschland | 51.3715767 | 12.3881855 | 04129
 Data Engineer | Junior Data Engineer Data Warehouse (m/w/d)                 | 12288-2756986176-S         | Amadeus FiRe AG                                                                 | 2022-12-07                      | 2022-12-08     | Hannover              | Niedersachsen       | Deutschland | 52.3619492 |  9.7115261 | 30449
 Data Engineer | (Senior) Bi Entwickler / Data Engineer (m/w/d) - remote     | 10000-1192246262-S         | dress-for-less GmbH                                                             | 2022-12-05                      | 2023-04-01     | Kelsterbach           | Hessen              | Deutschland | 50.0345521 |  8.4815141 | 65451
 Data Engineer | Big Data Engineer (m/w/d)                                   | 13635-0223483b_JB3390187-S | accantec group                                                                  | 2022-11-29                      | 2022-12-03     | M端nchen               | Bayern              | Deutschland | 48.1221727 | 11.5310645 | 81373
 Data Engineer | Marketing Data Engineer (m/w/d)                             | 16576-2022gqxwktn4-000-S   | Bergfreunde GmbH                                                                | 2022-11-22                      | 2022-11-22     | Kirchentellinsfurt    | Baden-W端rttemberg   | Deutschland | 48.5376845 |  9.1504575 | 72138
 Data Engineer | Senior Data Engineer (w/m/d)                                | 13635-a7623aa8_JB3384196-S | ExpressSteuer                                                                   | 2022-11-28                      | 2022-12-02     | Hamburg               | Hamburg             | Deutschland | 53.5331829 |  9.9822974 | 20457
 Data Engineer | Big Data Engineer (w/m/d)                                   | 12288-2741202517-S         | MaibornWolff GmbH                                                               | 2022-11-28                      | 2022-11-29     | Hamburg               | Hamburg             | Deutschland | 53.5331829 |  9.9822974 | 20457
 Data Engineer | Senior Data Engineer (w/m/d)                                | 11858-4832478-STA-S        | Deutsche Bahn AG                                                                | 2022-11-28                      | 2022-11-28     | Frankfurt am Main     | Hessen              | Deutschland | 50.1125066 |  8.6528256 | 60308
 Data Engineer | Data Analyst (w/m/d)                                        | 12288-2751621175-S         | Michael Page                                                                    | 2022-12-05                      | 2022-12-06     | Berlin                | Berlin              | Deutschland | 52.5210905 | 13.4099785 | 10178
 Data Engineer | Data Engineer (m/f/d)                                       | 12288-2738091533-S         | Phaidon International                                                           | 2022-11-25                      | 2022-11-26     | Berlin                | Berlin              | Deutschland | 52.5063269 | 13.3650884 | 10785
 Data Engineer | Data Center Engineer (w/m/d)                                | 13892-2646685_3134399-S    | EagleBurgmann Germany GmbH & Co. KG                                             | 2022-11-09                      | 2022-12-01     | Wolfratshausen        | Bayern              | Deutschland | 47.9088901 | 11.4268631 | 82515
 Data Engineer | (Senior) Data Engineer (m/w/d)                              | 13635-83939445_JB3371948-S | Triple A Internetshops GmbH                                                     | 2022-11-23                      | 2022-11-27     | Berlin                | Berlin              | Deutschland | 52.5063269 | 13.3650884 | 10785
 Data Engineer | Cloud Data Engineer (m/w/d)                                 | 12288-2734783945-S         | Allgeier Experts GmbH                                                           | 2022-11-23                      | 2022-12-07     | Ulm, Donau            | Baden-W端rttemberg   | Deutschland | 48.4187148 |  9.9542929 | 89081
 Data Engineer | Data Engineer (m/f/d)                                       | 13635-52c102e5_JB3371361-S | Thinksurance GmbH                                                               | 2022-11-22                      | 2022-11-26     | Frankfurt am Main     | Hessen              | Deutschland |  50.115356 |  8.6832823 | 60313
 Data Engineer | Senior Data Engineer (all genders)                          | 13635-2dda1a8c_JB3344586-S | Sonoma Internet GmbH / Amorelie                                                 | 2022-12-07                      | 2022-12-11     | Berlin                | Berlin              | Deutschland | 52.5412913 | 13.3900167 | 13355
 Data Engineer | Master Data Engineer (m/w/d)                                | 11858-4841147-STA-S        | SUSS MicroTec Solutions GmbH und Co. KG                                         | 2022-11-21                      | 2022-11-21     | Sternenfels           | Baden-W端rttemberg   | Deutschland | 49.0300461 |  8.8596645 | 75447
 Data Engineer | Fachinformatiker/in als Data Engineer (m/w/d)               | 11858-4826719-STA-S        | Trianel GmbH                                                                    | 2022-11-21                      | 2022-11-21     | Aachen                | Nordrhein-Westfalen | Deutschland | 50.7900889 |  6.0959988 | 52070

In [ ]:
\